.front {
	z-index: 1000;
}

.fancy
{
	font: 300 90px/1.2 'Merienda One', Helvetica, sans-serif;
	color: rgba(0,0,0,0.7);
	text-shadow: 3px 3px 3px #fff;
}

.centre {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;       /* the same as your div height */
}
